body{
  height: 15vh;
  background-color: rgba(168, 179, 225, 0.8);
  background-image: linear-gradient(rgb(121, 135, 194), rgb(87, 41, 143));
}
.price{
  color: rgb(193, 214, 229);
  font-style: italic;
}

.list-group-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.card-img {
  width: 100%;
  height: 300px; 
  object-fit: cover;
}